*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

}



.container{
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-color: #e5e7df;
}

.container nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    width: 100%;
    height: 10%;
}
.container .overview{
    border-bottom: 1px solid black;
    
}
.container li{
    display: inline;
    list-style: none;
    font-size: 18px;
   transition: transform ease-in-out 0.5s;
    padding: 7px;
}
.container  li:hover{
    border-bottom: 1px solid black;
    cursor: pointer;

}
.container .price p{
    font-size: 18px;
    border-bottom: 1px solid black;
    padding: 7px;
}
.page1{
    display: flex;
    justify-content: space-between;
}
.page1 .left {
    width: 280px;
    margin-left: 20px;
    margin-top: 210px;
    font-size: 19px;
    line-height: 25px;
}
.page1 button {
    margin-top: 25px;
    font-size: 20px;
    border: transparent;
    background-color: transparent;
    border-bottom: 1px solid black;
    padding: 7px;

    
   
}
.page1 .right {
    width: 700px;
    margin-right: 15px;
    font-size: 20px;
    margin-top: 210px;
}
.page1 .right h1{
    font-weight: 300;
}
.slider{
    width: 100%;
    height: 280px;
    overflow: hidden;
    white-space: nowrap;
}
    
.slider  h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #313231;
    display: inline-block;
    font-size: 250px;
    animation : carousal  linear 20s infinite;
}

@keyframes carousal{
    from{
        transform: translate(0%);
    }
    to{
        transform:translate(-100%);
    }
}

.slider img{
  height: 190px;
  padding: 0 30px;
}
.page2{
    height: 70vh;
    background-color: #e5e7df;
}


.page2 h1{
    padding: 20px 30px;
    width: 950px;
    font-size: 40px;
    color: #1e1e1e;
    font-weight: 100;  
}
.page2 hr {
    margin-left: 2%;
    width: 96%;
    margin-top: 80px;
}
.page3{
    padding: 10px 30px;
    height: 100vh;
    background-color: #e5e7df;
    display: flex;
    font-size: 10px;
    color: #313231;
    
    
}
.page3 .abc{
    margin-top: 50px;
    width: 50%;
    display: flex;
}
.page3 .abc > .circle{
    height: 18px;
    margin-right: 5px;
    width: 18px;
    background-color: #313231;; 
    border-radius: 50%;
}
.page3 .def{
    margin-top: 50px;
    width: 34%; 

   
}
.page3 .def > p{
    margin-bottom: 50px;
    font-size: 20px;
    margin-top: 20px;
    color: #8b8c86;
    font-weight: 200;
    line-height: 30px;
}

.page3 .last{
    display: flex;
    justify-content: right;
    margin-top: 50px;
    width:15%;
}
.page4{
    width: 100%;
    height: 100vh;
    text-align: center;
    

}
.page4 >.page4-contain{
    width: 100%;
    height: 120px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.page4 h1{
    color: #313231;
    font-size: 20px;
    padding: 30px 30px;
    
}
.page4 span{
    color: #313231;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 280px;
    font-weight: 900;
    line-height: 250px;

}
.page4 span > video{
    height: 200px;
    width: 350px;
}
.page4 .footer {
    margin-top: 0;
    margin-left: 40.3%;
    width: 350px;
    display: flex;
    justify-content: space-between;
  

}
.page4 .footer p{
    font-size: 18px;
}



    

