*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #e5e7df; */

}

nav {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 100;
    justify-content: space-between;
    padding: 30px 20px;
    width: 100%;
    height: 10%;
}
.overview{
    border-bottom: 1px solid black;
    
}
nav li{
    display: inline;
    list-style: none;
    font-size: 18px;
   transition: transform ease-in-out 0.5s;
    padding: 7px;
}
nav li:hover{
    border-bottom: 1px solid black;
    cursor: pointer;

}
nav .price p{
    font-size: 20px;
    border-bottom: 1px solid black;
    padding: 7px;
}
.page1{

    height: 100%;
    
    /* display: flex; */
    justify-content: space-between;
    background-color: #e5e7df;
   
    /* position: relative; */
   
}
.page1 > .conten{
    
    display: flex;
}
.page1 .left {
    width: 280px;
    margin-left: 20px;
    margin-top: 210px;
    font-size: 19px;
    line-height: 25px;
}
.page1 button {
    margin-top: 25px;
    font-size: 20px;
    border: transparent;
    background-color: transparent;
    border-bottom: 1px solid black;
    padding: 7px;

    
   
}
.page1 .right {
    width: 700px;
    margin-right: 15px;
    font-size: 20px;
    margin-top: 210px;
}
.page1 .right h1{
    font-size: 40px;
    margin-left: 250px;
    font-weight: 300;
}


.page1 > .slider img{
    height: 160px;
    padding: 0 10px;

}
.page1 >.slider{
    display: block;
    width: 100%;
    height: 280px;
    overflow: hidden;
    margin-left: 0;
    white-space: nowrap;
    /* background-color: #e5e7df; */
   
   
} 
    
.slider  h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    display: inline-block;
    font-size: 250px;
    font-weight: 900;
    animation : carousal  linear 20s infinite;
}

@keyframes carousal{
    from{
        transform: translate(0%);
    }
    to{
        transform:translate(-100%);
    }
}

.slider img{
  height: 190px;
  padding: 0 30px;
} 

/* -------------------------------------------- */
 
.page2{
    width: 100%;
    height: 80%;
   
    padding:110px 30px;
    background-color: #e5e7df;


}
.page2 h1{
    font-size: 40px;
    width: 800px;
    font-weight: 400;
    padding-bottom: 30px;
}

.page2 > hr {
    border: none;
    margin-bottom: 5%;
    height: 1px;
    background-color: rgb(220, 220, 220);
}
.page3{
    width: 100%;
    display: flex;
    padding: 0 30px;
    /* margin-bottom: 5%; */
    background-color: #e5e7df;
}
.page3 > h1:first-child
/* .page4nav > h1:first-child*/{ 
    font-size: 25px;
    width: 45%;
   font-weight: 600;
}
.page3 > div{
    width: 35%;
}
.page3 > div h1{
    font-size: 20px;
    margin-bottom: 3%;
    font-weight: 600;
   
}
.page3 > div p{
    font-size: 20px;
    margin-bottom: 10%;
    font-weight: 600;
    color: #939691;
}
.page3 > h1:first-child > span,
.page4nav > h1:first-child > span { 
    display: inline-block;
    background-color: black;
    margin-right: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.page3 h1:last-child {
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    width: 20%;
}
.page4{
    
    padding: 0 30px;
    width: 100%;
    height: 100%;
}
.page4nav{
    display: flex;
    justify-content: space-between;
}
.page4nav h1{
   padding: 10px 30px;
    font-size: 25px;
}
.page4content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page4-container{
    margin-top: 200px;
}
.page4-container h1{
    display: flex;
    justify-content: center;
    font-size: 230px;
    font-weight: 900;
    line-height: 200px;

}
.page4-container video{
    height: 180px;
}











    

