nav i {
    display: none;
    font-size: 30px;
}

@media (max-width: 600px){
    nav i{
        display: initial;
    }
    nav ul , .price{
        display: none;
    }

/* page 1 ---------------------->  */    
    .page1{
        width : 100%;
        /* overflow-x: hidden; */
    }
    .page1 > .left{
        width: 100%;
        padding:0 10px;
    }
    .page1 > .left p{
        width: 100%;
        font-size: 20px;
        line-height: 40px;
        
    }
    .page1 > .left button{
        width: max-content;
    }
    .page1 > .right h1{

        font-size: 30px;
        width: 100%;
       
        padding: 0 15px;
        
    }
    .slider h1{
        margin-top: 60px;
        font-size: 150px;
    }
    .slider img{
        height: 130px;
    }

/* page 2 ->  */

    .page2 h1{
        font-size: 30px;
        width: 100%;
    }

/* page 3 ------------------>  */    
.page3{
    height: 100%;
    width: 100%;
    display: block;

}
.page3 > .abc {
    width: 400px;

}
.page3 > .abc > h1{
    margin-top: 0;
    margin-bottom: 30px;
}

.page3 >  .def , .last  h1{
    font-size: 10px;
   
   
}
.page3 > .last{
    width: 400px;
    

}
.page3 > .last >  h1{
   
    font-size: 20px;
    width: 200px;
    margin-top: 80px;
    
}
.page3 > .def p{
    width: 300px;
    font-size: 17px;
    
}

/* Page 4------------------> */
.page4{
    margin-top: 250px;
width: 100%;

}
.page4 > .page4-contain {
    height: 60px;
    margin-bottom: 200px;
}
.page4 > .page4-contain h1{
    font-size: 18px;
}

.page4 > span{
    font-size: 16vh;
    line-height: 10vh;
   
}
.page4 > span > video{
    height: 18vh;
    width: 30vw;

     
}
.page4 >.footer{
   display: none;
}


  

}